<configuration>
	<appSettings>
		<add key="owin:AutomaticAppStartup" value="false"/>
		<add key="App.UserManagement.UseCaptchaOnRegistration" value="false"/>
		<add key="App.UserManagement.UseCaptchaOnLogin" value="false"/>
	</appSettings>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
</configuration>
